<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBS_starting</title>
</head>
<body>
    <h2>HandleBars</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit nemo quam quos? Aperiam maxime omnis inventore velit autem doloribus corrupti dolorum. Ratione reiciendis aperiam tempore accusantium qui molestias voluptas atque?</p>
    <p>Name is {{demo.name}} and age is {{demo.age}}</p>
</body>
</html>